
@media screen and (min-width: 200px) and (max-width: 480px) {
    #fundao::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background:  linear-gradient(60deg, #000011ad, #040442bb,#01012bb4, #000011ab);
        z-index: -1;
    }
    .mp3-arrow-right{
        transform: translateY(200px) translateX(20px);
    }
    .mp3-arrow-left{
        transform: translateY(200px) translateX(-20px);
    }
    .nome-cantor{
        margin: 5px auto 10px auto;
    }
    .botoes-controle-music{
        margin-top: 5px;
        transform: translateY(-10px);
    }
    .container-barra-tempo{
        margin: 5px auto;
    }
    .barra-music{
        height: 8px;
    }
    #lista_de_artistas > li > h3{
        position: relative;
        font-size: 16px;
        left: -22px;
    }
    .image-capa{
        margin-bottom: 10px;
    }
    .barra-music{
        margin-top: 10px;
    }
    .botoes-controle-music{
        margin-top: 30px;
    }
    #playerMusicArtistas{
        max-height: 600px;
    }
}
@media  screen and (min-width: 500px) and (max-width: 550px){
    #fundao::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background:  linear-gradient(60deg, #000011ad, #040442bb,#01012bb4, #000011ab);
        z-index: -1;
    }
    .MP3{
        width: 50vw;
        height: 60vh;
    }
    #container_lista_artistas > ul > li > h3 {
        display: inline-block;
        width: 60%;
        height: 100%;
        font-size: 0.9em;
        transform: translateY(-60px) translateX(40px);
    }
    
}
@media  screen and (min-width: 551px) and (max-width: 699px){
    #fundao::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background:  linear-gradient(60deg, #000011ad, #040442bb,#01012bb4, #000011ab);
        z-index: -1;
    }
    .MP3{
        width: 40vw;
        height: 60vh;
    }
    #container_lista_artistas > ul > li > h3 {
        display: inline-block;
        width: 60%;
        height: 100%;
        font-size: 0.9em;
        transform: translateY(-60px) translateX(45px);
    }
    
}
@media  screen and (min-width: 700px) and (max-width: 799px){
    #fundao::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background:  linear-gradient(60deg, #000011ad, #040442bb,#01012bb4, #000011ab);
        z-index: -1;
    }
    .MP3{
        width: 35vw;
        height: 60vh;
    }
    #container_lista_artistas > ul > li > h3 {
        display: inline-block;
        width: 60%;
        height: 100%;
        font-size: 0.9em;
        transform: translateY(-60px) translateX(45px);
    }
    #container-explore-tipos-de-musicas > ul {
        width:90%;
        margin-right: 20px;
        margin-left: auto;
    }
    .mp3-arrow-left{
        transform: translateY(200px) translateX(-100px);

    }
    .mp3-arrow-right{
        transform: translateY(200px) translateX(100px);
    }
}
@media screen and (min-width: 800px) and (max-width: 1124px){
    html,body{
        height: 100vh;
        overflow-y: hidden;
    }
    main{
        height: 91.5vh;
        display: flex;
        transform: translateY(-40px);
    }
    header > nav{
        height: 100px;
        z-index: 100;
    }
    p{
        font-size: 0.9em;
    }
    header > nav > h1{
        font-size: 2.6em;
        margin-bottom: 20px;
        transform: translateX(40px);
    }
    .section-mp3, #containerPlayerMusicArtistas{
        height: 80vh;
        width: 309px;
    }
    .MP3{
        width: 250px;
        height: 400px;
        margin: 75px auto 0 39px;
    }
    .mp3-arrow-left{
        transform: translateY(280px) translateX(16px);

    }
    .mp3-arrow-right{
        transform: translateY(280px) translateX(29px);
    }
    .barra-music{
        height: 8px;
    }
    .botao-mp3{
        height: 47px;
    }
    #main_musicas, #container-musicas, #container-explore-tipos-de-musicas > ul{
        width: 100%;
        height: 100%;
       margin-left: 80px; 
       overflow-y: scroll;
    }
    #main_musicas > ul > li, .li-p, #lista-musicas > li , #container-explore-tipos-de-musicas > ul > ul > li{
        width: 90%;
    }
    #container_lista_artistas {
        overflow-y: scroll;
    }
    #container_lista_artistas > ul > li > h3 {
        display: inline-block;
        width: 60%;
        height: 100%;
        font-size: 0.9em;
        transform: translateY(-60px) translateX(45px);
    }
    #container-explore-tipos-de-musicas > ul {
        width: 90%;
        margin-right: 20px;
        margin-left: auto;
    }
    #container-explore-tipos-de-musicas{
        margin-left: 10px;
        float: right;
    }
    #container-player-podcast{
        margin-left: 200px;
    }
    #player-podcast > iframe {
        height: 30vw;
    }
}
@media screen and (min-width: 1124px) and (max-width: 1299px) {
    html,body{
        height: 100vh;
        overflow-y: hidden;
    }
    main{
        height: 91.5vh;
        display: flex;
        transform: translateY(-40px);
    }
    header > nav{
        height: 100px;
        z-index: 100;
    }
    header > nav > h1{
        font-size: 2.6em;
        margin-bottom: 20px;
        transform: translateX(40px);
    }
    #menuBurguer{
        display: none;
    }
    #menuBurguerExit{
        display: none;
    }
    ul#menu{
        display: block;
    }
    .section-mp3, #containerPlayerMusicArtistas {
        height: 80vh;
        width: 309px;
        margin-left: 170px;
    }
    #playerMusicArtistas{
        width: 285px; 
        margin: 10px auto 0 39px;
        transform: translateX(30px);
    } 
    .MP3{
        width: 250px;
        height: 400px;
        margin: 75px auto 0 39px;
    }
    .mp3-arrow-left{
        transform: translateY(280px) translateX(16px);

    }
    .mp3-arrow-right{
        transform: translateY(280px) translateX(29px);
    }
    .barra-music{
        height: 8px;
    }
    .botao-mp3{
        height: 47px;
    }
    #oneH2{
        margin-top: 0;
    }
    #main_musicas, #container-musicas, #container_lista_artistas, #container-explore-tipos-de-musicas > ul{
        width: 100%;
        height: 100%;
        margin: 0;
       margin-left: 110px; 
       overflow-y: scroll;
    }
    #main_musicas > ul > li, .li-p, #lista-musicas > li , #container_lista_artistas > ul, #container-explore-tipos-de-musicas > ul > ul{
        width: 90%;
    }
    #container_lista_artistas > ul > li > h3 {
        display: inline-block;
        width: 60%;
        height: 100%;
        font-size: 0.9em;
        transform: translateY(-60px) translateX(45px);
    }
    #container-explore-tipos-de-musicas > ul{
        margin-left: 0px;
    }
    #container-explore-tipos-de-musicas{
        margin-left: 150px;
        float: right;
    }
    #container-player-podcast{
        margin-left: 200px;
    }
    #player-podcast > iframe {
        height: 28vw;
    }
}
@media screen and (min-width: 1300px) {
    html,body{
        height: 100vh;
        overflow-y: hidden;
    }
    main{
        height: 91.5vh;
        display: flex;
        transform: translateY(-40px);
    }
    header > nav{
        height: 100px;
        z-index: 100;
    }
    header > nav > h1{
        font-size: 2.6em;
        margin-bottom: 20px;
        transform: translateX(45px);
    }
    #menuBurguer{
        display: none;
    }
    #menuBurguerExit{
        display: none;
    }
    ul#menu{
        display: block;
    }
    .section-mp3, #containerPlayerMusicArtistas{
        height: 80vh;
        width: 309px;
        margin-left: 170px;
    }
    .MP3{
        width: 250px;
        height: 400px;
        margin: 75px auto 0 39px;
    }
    .mp3-arrow-left{
        transform: translateY(280px) translateX(16px);

    }
    .mp3-arrow-right{
        transform: translateY(280px) translateX(29px);
    }
    .barra-music{
        height: 8px;
    }
    .botao-mp3{
        height: 47px;
    }
    #oneH2{
        margin-top: 0;
    }
    #main_musicas, #container-musicas, #container_lista_artistas,  #container-explore-tipos-de-musicas{
        width: 100%;
        height: 100%;
        margin: 0;
       margin-left: 110px; 
       overflow-y: scroll;
    }
    #main_musicas > ul > li, .li-p, #lista-musicas > li , #container_lista_artistas > ul, #container-explore-tipos-de-musicas > ul > ul{
        width: 90%;
    }
    #playerMusicArtistas{
        width: 285px; 
        margin: 10px auto 0 39px;
        transform: translateX(30px);
    } 
    #container-explore-tipos-de-musicas{
        margin-left: 150px;
        float: right;
    }
    #container-player-podcast{
        margin-left: 200px;
    }
    #player-podcast > iframe {
        height: 24.5vw;
    }
}